<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-gift fa-4x"></i>
          <h2 class="section-heading mt-2">
            La primera sesión gratuita
          </h2>
          <p>En este primer encuentro, podrás hacer una prueba sin ningún compromiso. Sirve para que nos cuentes cuáles son tus necesidades, conozcas el programa y forma de trabajo del club NEUROKIDS. Después, podrás decidir si se adapta a tus necesidades.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-clock fa-4x"></i>
          <h2 class="section-heading mt-2">
            Flexibilidad horaria
          </h2>
          <p>Tú eliges el horario de las sesiones. Sabemos lo difícil que es compaginar la vida diaria con actividades extras. Por ello, con nosotras, podrás elegir el día de la semana y la hora en la que te vaya mejor. Esto te permite organizarte y ganar más tiempo para ti.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-piggy-bank fa-4x"></i>
          <h2 class="section-heading mt-2">
            Cuidamos tu bolsillo
          </h2>
          <p>Gracias a nuestras sesiones online, evitarás gastos en traslados, pagos de parking o incluso en el ticket de metro. Además, podrás conectarte desde cualquier parte del mundo, sólo necesitas un dispositivo y conexión a Internet.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-thumbs-up fa-4x"></i>
          <h2 class="section-heading mt-2">
            Fácil y divertido
          </h2>
          <p>Las actividades terapéuticas a realizar con nuestro programa, están inmersas en las rutinas de la vida diaria, lo que te permite sentirte tranquilo y sin cargas extras que modifiquen la rutina familiar. Puedes realizarlos mientras estén en el parque, en casa, e incluso en tus vacaciones.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-handshake fa-4x"></i>
          <h2 class="section-heading mt-2">
            Empoderamiento
          </h2>
          <p>Este programa interactivo le permite a la familia generar capacidades y confianza para promover la autorreflexión, corrección en el proceso de aprendizaje del niñx y a su vez, permite generar nuevas estrategias, habilidades e ideas, para ser usadas cuando el terapeuta no esté presente.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-heart fa-4x"></i>
          <h2 class="section-heading mt-2">
            Soporte emocional
          </h2>
          <p>Brindamos estrategias de regulación emocional a la familia, que ayuden al niñx a transitar y mantenerse más atento y en calma.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-smile fa-4x"></i>
          <h2 class="section-heading mt-2">
            Camino del logro
          </h2>
          <p>Se facilita a la familia una herramienta que les permitirá observar y expresar los avances en el proceso de aprendizaje de todos los involucrados, principalmente del niñx.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-graduation-cap fa-4x"></i>
          <h2 class="section-heading mt-2">
            Educación
          </h2>
          <p>Espacio de formación en temas relacionados a potenciar el desarrollo y
            desempeño de nuestros niñxs en su proceso, brindando estrategias educativas
            y creativa a padres, maestros y otros profesionales.</p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 text-center">
          <i class="fas fa-road fa-4x"></i>
          <h2 class="section-heading mt-2">
            Puentes
          </h2>
          <p>Creamos puentes con otros profesionales en pro del proceso de desarrollo de
            nuestros niños y su familia</p>
          <div class="spacer-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>