<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="section-heading">
            Curso Presencial
          </h2>
          <p>Praxis en Niños y Adolescentes: Teoría, Evaluación e Intervención con Gustavo Reinoso.</p>
            <a href='{{ "/assets/docs/curso-presencial-praxis.pdf" }}' class="btn btn-primary">CONOCER MÁS</a>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/docs/curso-praxis.png" }}' alt="" class="img-fluid img-border mb-3">
        </div>
      </div>
    </div>
  </div>
</div>