<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="section-heading">
            Emma Álvarez
          </h2>
          <p> <b>Logopeda</b><br>
            Neonatal, pediátrica, clínica y educativa<br>
            Equipo de apoyo Club Neurokids<br>
            Contacto: 653679815
            </p>
          <div class="spacer-30"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/images/emma.png" }}' alt="" class="img-fluid img-border mb-3">
        </div>
      </div>
    </div>
  </div>
</div>