<!-- INTRO -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <p class="supheading">¿Tu hijx está desorganizadx y se te agotaron las ideas para recuperar la calma?</p>
          <h2 class="section-heading mb-5">
            ¡Entonces, esto es contigo!
          </h2>
          <p>Programa CLUB NEUROKIDS, un servicio de terapia ocupacional de atención online, dirigido a familias de niñxs con autismo, déficit de atención, dificultades del desarrollo y problemas en establecer rutinas, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio de asesoría, consultoría y apoyo desde el coaching.</p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 d-flex align-items-center">
            <img src='{{ "/assets/images/intro.jpg" }}' alt="" class="img-fluid">
        </div>
      </div>
      
    </div>
  </div>
</div>