<!-- INTRO -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <p class="supheading">¿Tu hijo está desorganizado, le cuesta participar en sus actividades de la vida diaria y se te agotaron las ideas para ayudarlo a recuperar la calma y la atención?</p>
          <h2 class="section-heading mb-5">
            ¡Entonces, esto es contigo!
          </h2>
          <p>CLUB NEUROKIDS, somos un servicio de terapia ocupacional de atención presencial en el centro de Barcelona, a domicilio en entornos naturales (Barcelona y alrededores) y online, dirigido a familias de niños con déficit de atención, autismo, dificultades del desarrollo y problemas en establecer rutinas, destinado a mejorar la calidad de vida y participación de sus hijos, por medio de asesoría, consultoría y apoyo desde el coaching.</p>
          <p>Queremos brindar a las familias un acompañamiento terapéutico responsable, basado en la neurociencia, terapia de juego, integración sensorial, estimulación psicomotora, gestión de las emociones, creatividad y coaching, que les permita disfrutar del conocimiento, adquiriendo y generando estrategias que mejorarán la atención, concentración, memoria, comportamiento, habilidades y destrezas de sus hijos, en ambientes cotidianos.</p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 d-flex align-items-center">
            <img src='{{ "/assets/images/intro.jpg" }}' alt="" class="img-fluid">
        </div>
      </div>
      
    </div>
  </div>
</div>