<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/images/jessica.jpg" }}' alt="" class="img-fluid img-border mb-3">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="section-heading">
            Jessica Nascimiento
          </h2>
          <p>Bio de Jessica</p>
          <div class="spacer-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>