<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/images/jessica.png" }}' alt="" class="img-fluid img-border mb-3">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <p class="supheading">Colaboradores</p>
          <h2 class="section-heading">
            Jessica Nascimento
          </h2>
          <p> <b>Terapeuta Ocupacional</b><br>
            Certificada en integración sensorial<br> 
            Equipo área de Formación en Club Neurokids.<br>
            Contacto: 635231047
            </p>
          <div class="spacer-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>