<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/images/jessica.jpg" }}' alt="" class="img-fluid img-border mb-3">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="section-heading">
            Jessica Nascimento
          </h2>
          <p> Hola! Soy Jessica Nascmento, una mujer de Venezuela, actualmente vivo en
            Barcelona y disfruto de las actividades recreativas y deportivas que se realizan
            al aire libre. Así como, de ayudar a familias y niños a que tengan una vida más
            equilibrada.<br><br>
            Soy una emprendedora, apasionada por el movimiento y el equilibrio
            corporal/mental; para mí, esta es la clave para poder tener una vida tranquila,
            abundante y productiva. Considero que desde la tranquilidad y el conectar con
            nuestro cuerpo, mente y corazón, nos permite encontrar la calma y
            desenvolvernos en este mundo, disfrutando de las grandes maravillas que
            tenemos a nuestro alrededor.<br><br>
            Sumando a esto, me encanta investigar sobre el desarrollo de los niños y su
            ocupación. Por tal motivo, me he estado ayudando durante estos 10 años a
            niños con autismo, hiperactiva, retrasos en el desarrollo, dificultades de
            aprendizaje, dificultades sensoriales, alteraciones neurológicas entre otras, a
            que consigan un equilibrio en su desarrollo motor, emocional, cognitivo y social.<br><br>
            Durante estos años, he trabajado no solo con los niños, sino también con las
            familias, acompañándolas durante el proceso, mostrándole que siempre hay
            que ver el lado positivo de las cosas y en conjunto creamos estrategias para
            que ayuden a sus hijos, los entiendan y así puedan llevar una vida más
            tranquila.<br><br>
            Estudié en la Universidad central de Venezuela donde obtuve el título de
            Licenciada en Terapia Ocupacional. Durante el proceso de carrera me
            apasionó el funcionamiento del cerebro y su desarrollo neurológico,
            despertando así una gran motivación por la rehabilitación infantil. De esta
            manera me especialicé en integración sensorial, para comprender más cómo
            procesamos la información y cómo impacta en nuestra conducta.<br><br>
            Seguidamente, realicé un master de neurorehabilitación en la Universidad
            Autónoma de Barcelona, que me permitió ampliar mis conocimientos en el área
            de rehabilitación neurológica y tener un enfoque científico, lo que me ha
            permitido, aumentar las estrategias de intervención. Escribí un artículo de
            investigación centrado en evaluar el procesamiento sensorial de los niños y
            cómo éste impacta en su proceso de aprendizaje. Dicho estudio fue publicado
            en la revista internacional de terapia ocupacional de Galicia y ha sido expuesto
            en congresos de terapia ocupacional en España.<br><br>
            Actualmente, me estoy formando en coaching, inteligencia emocional y
            programación neurolingüística, para continuar aumentando mis conocimientos
            y ayudar a las familias a que generen mejores estrategias que le permitan tener
            a sus hijos más tranquilos, felices y gestionando mejor sus emociones.</p>
          <div class="spacer-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>