<!-- INTRO -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <p class="supheading">Sobre Nosotras</p>
          <h2 class="section-heading mb-5">
            María Gabriela Paiva
          </h2>
          <p>HOLA, soy María Gabriela Paiva Flores, me dicen Maga, venezolana y vivo en Barcelona actualmente. Soy una mujer con gran curiosidad por el entorno, disfruto y me divierto en lo que hago; desde el 2005 acompaño a familias de niñxs con dificultades sensoriales, conductuales y de aprendizaje, también apoyo a niños con autismo de alto funcionamiento a desarrollar sus habilidades sociales y flexibilidad cognitiva por medio de la improvisación teatral, teatro terapéutico y neurociencias.</p>
          <p>Estudié Terapia Ocupacional en la Universidad Central de Venezuela, me apasionó el cerebro desde una perspectiva funcional y me certifiqué en integración sensorial y en terapia de juego. Además, quería aprender de mis propias emociones y por ello me formé en terapia gestalt y teatro terapéutico. Cuando llegué a Barcelona quería seguir mejorando la pasión que descubrí en Venezuela y continúe formándome en teatro improvisado, técnica clown y stand up comedy.</p>
          <p>Disfruto y me sale naturalmente conectar con las personas a través del humor, el juego y el pensamiento creativo, me gusta aprender y compartir los conocimientos adquiridos, me agrada ver familias e hijos, contentas y progresando, por ello seguiré aportando con pasión y profesionalismo, lo mejor de mí en sus procesos.</p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 d-flex align-items-center">
          <img src='{{ "/assets/images/maga.jpg" }}' alt="" class="img-fluid">
        </div>
      </div>
      
    </div>
  </div>
</div>




