<!-- FAQS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">

      <div class="row">
        
        <div class="col-12 col-sm-12 col-md-12">
          
          
          <div class="row">
            
            <div class="col-sm-12 col-md-12">
              <div class="accordion rs-accordion" id="accordionExample">
                  <!-- Item 1 -->
                  <div class="card">
                    <div class="card-header" id="headingOne">
                        <h3 class="title">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Estoy acostumbradx a servicios de terapia presencial ¿Las sesiones online funcionan?
                          </button>
                        </h3>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, funcionan. Son terapias con evidencia científica, con más de 10 años de aplicación. Están centradas en el funcionamiento de la familia y les permite a sus miembros hacer un entrenamiento para que se empoderen y ayuden en el proceso de aprendizaje de sus hijxs.
                        </div>
                    </div>
                  </div>
                  <!-- Item 2 -->
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          ¿Cómo trabajaremos?
                          </button>
                        </h3>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          Serán sesiones de terapia online, donde se le indicará a la familia, con antelación, las pautas y organización de material para llevar a cabo la sesión. El material a usar, son juegos u objetos que tendrán de uso en casa. Al finalizar la sesión, tendremos un espacio de retroalimentación.
También ofrecemos servicio de atención a domicilio 
(Tema covid 19)

                        </div>
                    </div>
                  </div>
                  <!-- Item 3 -->
                  <div class="card">
                    <div class="card-header" id="headingThree">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          ¿Si mi hijo no tiene autismo, déficit de atención o ningún retraso en el desarrollo, puedo beneficiarme del programa?
                          </button>
                        </h3>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, todas las familias que quieran empoderarse, ganar mayores estrategias para establecer rutinas, potenciar aprendizajes y gestionar mejor las emociones de sus hijxs, pueden participar del programa.
                        </div>
                    </div>
                  </div>
                  <!-- Item 4 -->
                  <div class="card">
                    <div class="card-header" id="headingFour">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Mi hijx no quiere comer ¿Este programa puede beneficiarnos?
                          </button>
                        </h3>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, se puede beneficiar del programa, si se determina que la causa tenga una base sensorial (no le gustan las texturas, los olores, los sabores de los alimentos, etc.), o de base conductual (reacciona de manera desproporcionada ante situaciones relacionadas con la comida, entre otras), la familia recibirá estrategias adaptadas a sus necesidades.
                        </div>
                    </div>
                  </div>
                  <!-- Item 5 -->
                  <div class="card">
                    <div class="card-header" id="heading5">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapseFour">
                          Mi hijx le cuesta dormir ¿Me sirve este programa?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse5" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, le sirve este programa, si se determina que la causa tenga una base sensorial o conductual que requiera un hábito de sueño adecuado.
                        </div>
                    </div>
                  </div>
                  <!-- Item 6 -->
                  <div class="card">
                    <div class="card-header" id="heading6">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapseFour">
                          Mi hijx golpea ¿Este programa me ayudará?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, le ayudará este programa, si se determina que la causa tenga una base sensorial (le cuesta estar quieto, toma riesgos, choca con las cosas, le cuesta controlar su fuerza, etc.) o conductual (dificultad en la expresión de sus emociones o necesidades, reacciona de manera impulsiva, etc.), entonces, la familia recibirá estrategias adaptadas a sus necesidades.
                        </div>
                    </div>
                  </div>
                  <!-- Item 7 -->
                  <div class="card">
                    <div class="card-header" id="heading7">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapseFour">
                          Mi hijx le cuesta ir al baño ¿Este programa me ayudará?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, este programa le favorecerá, si se determina que la causa tenga una base sensorial o conductual que requiera un hábito de control de esfínteres adecuado.
                        </div>
                    </div>
                  </div>
                  <!-- Item 8 -->
                  <div class="card">
                    <div class="card-header" id="heading8">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapseFour">
                          Mi hijx le cuesta jugar con otros niños ¿Este programa me ayudará?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, le sirve este programa, si se determina que la causa tenga una base sensorial, conductual o de desarrollo, que dificulte las habilidades sociales, destrezas para jugar y el manejo de sus emociones, brindándole a la familia estrategias adaptadas a sus necesidades. 
                        </div>
                    </div>
                  </div>
                  <!-- Item 9 -->
                  <div class="card">
                    <div class="card-header" id="heading9">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapseFour">
                          ¿Puedo cambiar con antelación mi cita?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse9" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Sí, con un máximo de 24 horas de antelación puedes cambiar fecha y hora de la sesión.
                        </div>
                    </div>
                  </div>
                  <!-- Item 10 -->
                  <div class="card">
                    <div class="card-header" id="heading10">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapseFour">
                          ¿Cuál es el horario de atención?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          El horario se ajusta a las necesidades de la familia y la disponibilidad que encontrará en el sistema de reserva de cita.
                        </div>
                    </div>
                  </div>
                  <!-- Item 11 -->
                  <div class="card">
                    <div class="card-header" id="heading11">
                        <h3 class="title">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapseFour">
                          ¿Qué pasaría si llegara a perder la sesión que tengo agendada?
                          </button>
                        </h3>
                    </div>
                    <div id="collapse11" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                          Si has realizado tu reserva y no asistes, será dada por perdida. Solo en caso de causas mayores por motivos de salud demostrables, se podrá recuperar la sesión.
                        </div>
                    </div>
                  </div>
              </div>
              <!-- end accordion -->

            </div>
            

          </div>
        
        </div>

      </div>

    </div>
  </div>
</div>
