<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/images/reflexion.jpg" }}' alt="" class="img-fluid img-border mb-3">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="section-heading">
            ¿Lo imaginas? entonces este programa es para ti.
          </h2>
          <p>Imagina por un instante que cada mañana despiertas con calma, con seguridad y con más estrategias que te permiten gestionar mejor los desafíos que se te presentarán durante el día con tu hijx.</p>
          <p>Si estás aquí, es porque sabes que necesitas ampliar tu repertorio de ideas y estrategias que ayuden en la evolución de tu hijx, volver a sentirte confiadx en tu potencial como padre y como madre, teniendo la seguridad de que vas por buen camino.  Sí puedes. Juntxs podemos crearlo.</p>
          <p>¿Cuánto más vas a esperar a invertir en algo tan importante para ti y tu familia?</p>
          <div class="spacer-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>