
<!-- OUR EVENTS -->
<div class="section bgi-cover-center" data-background="images/event-bg.png">
  <div class="content-wrap">
    <div class="container">
      <div class="row mt-4">
        
        <!-- Item 1 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/servicios.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Sesiones online</div>
              <div class="meta-date">Costo: 35 euros, que incluye una sesión online de 50 minutos y una sesión de seguimiento a la semana vía WhatsApp.</div>
              <p>En la comodidad de tu hogar, recibes atención online de terapia ocupacional, dirigido a familias de niñxs con autismo, déficit de atención, dificultades del desarrollo y problemas en establecer rutinas, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio de asesoría, consultoría y apoyo desde el coaching.</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/reflexion.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Sesiones a domicilio</div>
              <div class="meta-date">50 euros, que incluye intervención a domicilio dirigida al niñx y retroalimentación a la familia de 50 minutos.</div>
              <p>Si lo prefieres vamos a tu casa y recibes atención presencial de terapia ocupacional, dirigido al niñx y a la familia, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio del abordaje directo al niñx, asesoría, consultoría y apoyo desde el coaching a la familia.</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/torres.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento online para cuidadores</div>
              <div class="meta-date">35 euros, que incluye una sesión online y una sesión de seguimiento a la semana vía WhatsApp de 50 minutos.</div>
              <p>Recibe apoyo, orientación, estrategias e ideas prácticas que sumen a tu acompañamiento como cuidador.</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/triciclo.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento online para personal docente</div>
              <div class="meta-date">35 euros, que incluye una sesión online y una sesión de seguimiento a la semana vía WhatsApp de 50 minutos.</div>
              <p>Recibe apoyo, orientación, estrategias e ideas prácticas que sumen a tu acompañamiento como profesor.</p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 5 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/welcome.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento online para establecer rutinas</div>
              <div class="meta-date">Coste: 35 euros, que incluye una sesión online y una sesión de seguimiento a la semana vía WhatsApp.</div>
              <p>Servicio de apoyo y orientación práctica para mejorar el desarrollo de rutinas adecuadas relacionadas con:
                <br>Control de esfínteres.
                <br>Hábitos de sueño
                <br>Destrezas en habilidades sociales
              </p>
              <div class="text-center">
                <a href="#" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
  </div>
</div>
