
<!-- OUR EVENTS -->
<div class="section bgi-cover-center" data-background="images/event-bg.png">
  <div class="content-wrap">
    <div class="container">
      <div class="row mt-4">

        <!-- Item 1 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/reflexion.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Servicio presencial</div>
              <div class="meta-date" style="color:#28a745;">Sesión de 45min presencial Apoyo completamente INDIVIDUALIZADO
                Te esperamos en Carrer Balmes 13, principal. 08007 Barcelona Cèntric coworking. Llama al 625291201 o contacta a clubneurokids@gmail.com </div>
              <p>Sabemos que muchos niñxs ameritan atención en un espacio terapéutico que brinde estímulos que impacten de manera significativa el desarrollo, por eso te ofrecemos que vengas a nuestra consulta en el centro de Barcelona, aquí recibes atención presencial de terapia ocupacional, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio de un abordaje en terapia ocupacional, integracion sensorial, asesoría, consultoría y apoyo desde el coaching a la familia.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/talleres.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Servicio a domicilio</div>
              <div class="meta-date" style="color:#28a745;">Sesión de 45min en el entorno natural del niño que incluye abordaje al niñx y retroalimentación a la familia. (dentro de Barcelona y sus alrededores)</div>
              <p>Si lo prefieres vamos a tu casa y recibes atención presencial de terapia ocupacional en entornos naturales, dirigido al niñx y a la familia, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio del abordaje directo al niñx, asesoría, consultoría y apoyo desde el coaching a la familia.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/servicios.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Sesiones online</div>
              <div class="meta-date" style="color:#28a745;">Sesión de 45min online y seguimiento semanal vía WhatsApp</div>
              <p>En la comodidad de tu hogar, recibes atención online de terapia ocupacional, dirigido a familias de niñxs con autismo, déficit de atención, dificultades del desarrollo y problemas en establecer rutinas, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio de asesoría, consultoría y apoyo desde el coaching.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 4 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/torres.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento online para cuidadores y personal docente</div>
              <div class="meta-date" style="color:#28a745;">Incluye una sesión online y una sesión de seguimiento a la semana vía WhatsApp de 45 minutos.</div>
              <p>Recibe de manera presencial u online, apoyo, orientación, estrategias e ideas prácticas que sumen a tu acompañamiento como cuidador y/o profesor.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 5 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/teeth.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento para establecer rutinas</div>
              <div class="meta-date" style="color:#28a745;">Sesión de 45min online o presencial y seguimiento via correo electrónico.</div>
              <p>Servicio presencial u online de apoyo y orientación práctica para mejorar el desarrollo de rutinas adecuadas relacionadas con:
                <br>Control de esfínteres.
                <br>Hábitos de sueño
                <br>Destrezas en habilidades sociales
              </p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 6 -->
        <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/audience.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Talleres de formación</div>
              <div class="meta-date" style="color:#28a745;">Coste: Precio a precisar.</div>
              <p>Talleres relacionados a difusión de la integración sensorial, ideas para una mejor rutina en casa, potenciar la escritura fácil, el juego, para padres, maestros y otros profesionales.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <!-- <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/talleres.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Sesiones a domicilio</div>
              <div class="meta-date">Incluye intervención a domicilio dirigida al niñx y retroalimentación a la familia de 45 minutos. (dentro de Barcelona y sus alrededores)</div>
              <p>Si lo prefieres vamos a tu casa y recibes atención presencial de terapia ocupacional, dirigido al niñx y a la familia, destinado a mejorar la calidad de vida y participación de sus hijxs, por medio del abordaje directo al niñx, asesoría, consultoría y apoyo desde el coaching a la familia.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Item 3 -->
        <!-- <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/torres.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento online para cuidadores</div>
              <div class="meta-date">Incluye una sesión online y una sesión de seguimiento a la semana vía WhatsApp de 45 minutos.</div>
              <p>Recibe apoyo, orientación, estrategias e ideas prácticas que sumen a tu acompañamiento como cuidador.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Item 4 -->
        <!-- <div class="col-sm-12 col-md-12 col-lg-4 mb-5">
          <div class="rs-news-1">
            <div class="media-box">
              <img src='{{ "/assets/images/reflexion.jpg" }}' alt="" class="img-fluid">
            </div>
            <div class="body-box">
              <div class="title">Asesoramiento online para personal docente</div>
              <div class="meta-date">Incluye una sesión online y una sesión de seguimiento a la semana vía WhatsApp de 45 minutos.</div>
              <p>Recibe apoyo, orientación, estrategias e ideas prácticas que sumen a tu acompañamiento como profesor.</p>
              <div class="text-center">
                <a href="https://calendly.com/clubneurokids" class="btn btn-primary">RESERVAR CITA</a>
              </div>
            </div>
          </div>
        </div> -->

      </div>

    </div>
  </div>
</div>
