<!-- INTRO -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <p class="supheading">Servicios</p>
          <h2 class="section-heading mb-5">
            ¿Quieres saber cómo podemos ayudarte para que tus hijxs estén calmadxs, atentxs y participativxs en casa?
          </h2>
          <p class="">Por medio de nuestro programa de terapia ocupacional CLUB NEUROKIDS, de atención online, ofrecemos a las familias asesoría, consultoría y apoyo desde el coaching, con el fin de:</p>
          <p class="p-check ">Promover la importancia del juego, en el desarrollo motor, emocional, social y cognitivo del niñx.</p>
          <p class="p-check ">Brindar estrategias de intervención inmersas en ambientes cotidianos para mejorar la regulación, atención y desempeño del niñx en las actividades de la vida diaria.</p>
          <p class="p-check ">Facilitar a las familias y cuidadores en general, procesos de autorreflexión, autocorrección, con el fin de aumentar la generalización de ideas, habilidades y estrategias que favorezcan el proceso y la evolución del niñx.</p>
          <p class="p-check ">Ofrecer herramientas para crear horarios, hábitos y rutinas, con las cuales tanto el niñx como la familia puedan verse beneficiados en su desempeño general.</p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 d-flex align-items-center">
          <img src='{{ "/assets/images/servicios.jpg" }}' alt="" class="img-fluid">
        </div>
      </div>
      
    </div>
  </div>
</div>