 <!-- SHORTCUT -->
<div class="section services">
  <div class="content-wrap pb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row col-0 overlap no-gutters">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 1 -->
              <div class="rs-feature-box-1 bg-primary">
                <i class="fa fa-clock-o"></i>
                <div class="body">
                  <h4>Club NeuroKids</h4>
                  <p>¿Eres madre o padre de un niñx con autismo, déficit de atención, dificultades de desarrollo u otro diagnóstico?</p>
                  <div class="spacer-10"></div>
                  <a href="programa.html" class="btn">CONOCER MÁS</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 2 -->
              <div class="rs-feature-box-1 bg-secondary">
                <i class="fa fa-home"></i>
                <div class="body">
                  <h4>Club NeuroKids</h4>
                  <p>¿Están desorganizadxs y no sabes qué hacer con ellxs?</p>
                  <div class="spacer-10"></div>
                  <a href="programa.html" class="btn">CONOCER MÁS</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 3 -->
              <div class="rs-feature-box-1 bg-tertiary">
                <i class="fa fa-trophy"></i>
                <div class="body">
                  <h4>Club NeuroKids</h4>
                  <p>¿Te sientes con pocas estrategias para gestionar las dificultades en el día a día con tus hijxs?</p>
                  <div class="spacer-10"></div>
                  <a href="programa.html" class="btn">CONOCER MÁS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>