 <!-- SHORTCUT -->
<div class="section services">
  <div class="content-wrap pb-3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="row col-0 overlap no-gutters">
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 1 -->
              <div class="rs-feature-box-1 bg-primary">
                <i class="fa"></i>
                <div class="body">
                  <!-- <h4>Club NeuroKids</h4> -->
                  <h4>¿Eres madre o padre de un niño con déficit de atención, autismo, dificultades en el desarrollo u otro diagnóstico?</h4>
                  <div class="spacer-10"></div>
                  <a href="programa.html" class="btn">CONOCER MÁS</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 2 -->
              <div class="rs-feature-box-1 bg-secondary">
                <i class="fa"></i>
                <div class="body">
                  <!-- <h4>Club NeuroKids</h4> -->
                  <h4>¿Deseas potenciar su desarrollo y aprendizaje?</h4>
                  <div class="spacer-10"></div>
                  <a href="programa.html" class="btn">CONOCER MÁS</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
              <!-- BOX 3 -->
              <div class="rs-feature-box-1 bg-tertiary">
                <i class="fa"></i>
                <div class="body">
                  <!-- <h4>Club NeuroKids</h4> -->
                  <h4>¿Quieres más estrategias, más herramientas para gestionar el día a día con tus hijos?</h4>
                  <div class="spacer-10"></div>
                  <a href="programa.html" class="btn">CONOCER MÁS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>