<!-- INTRO -->
<div class="section">
  <div class="content-wrap pb-0">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
          <h2 class="section-heading mb-5">
            Suilling Hernández Martínez
          </h2>
          <p>
            <b>Psicóloga</b><br>
            Máster en atención temprana y autismo<br>
            Equipo del programa de habilidades sociales Clubneurokids<br>
            Contacto: 603140574
          </p>
          <div class="spacer-content"></div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 d-flex align-items-center">
          <img src='{{ "/assets/images/suilling.png" }}' alt="" class="img-fluid">
        </div>
      </div>
      
    </div>
  </div>
</div>




