<!-- WELCOME TO KIDS -->
<div class="section">
  <div class="content-wrap">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <img src='{{ "/assets/images/welcome.jpg" }}' alt="" class="img-fluid img-border mb-3">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <h2 class="section-heading">
            Si se Planea, Sucede
          </h2>
          <p>magina por un instante que cada mañana despiertas con calma, con seguridad y con más estrategias que te permitan gestionar mejor los desafíos que se te presentarán durante el día con tu hijo. </p>
          <p>¿Lo imaginas? Entonces, este servicio es para ti.</p> 
          <p>Si estás aquí, haremos lo posible para sacar lo mejor de ti, hacer lo mejor por tu bien más preciado, TUS HIJOS, juntos lograrás ampliar tu repertorio de ideas y estrategias que ayuden en la evolución de tu hijo, volver a sentirte confiado en tu potencial como padre y como madre, teniendo la seguridad de que vas por buen camino.</p>
          <p>Sí puedes. Juntos podemos crearlo.</p>
          <p>¿Cuánto más vas a esperar a invertir en algo tan importante para ti y tu familia?</p>
          <div class="spacer-30"></div>
        </div>
      </div>
    </div>
  </div>
</div>